body {
    display: flex;
    
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

button {
    margin: 5px;
}

.container {
    height: 960px;
    width: 960px;

    display: flex;
    flex-wrap: wrap;

    border: 1px solid black;
}